# dependencies
node_modules/

# environment
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
coverage/

# uploads
uploads/*
!uploads/.gitkeep

# editor files
.vscode/
.DS_Store
